* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: $mainColor;
	font-family: 'Roboto', Sans-Serif;
	width: 100%;
	margin: auto;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	padding-left: 40px;
}

li {
	margin: 10px 0;
}

code {
	background-color: rgba(220,220,220,.5);
}

header {
	font-size: 22px;
	font-weight: bold;
	margin: 15px 0;
}

h2 {
	font-size: 20px;
}

p {
	margin: 15px 0;
}